h1{
    color: darkgoldenrod;
}

body {
background-image: url('imagensparal/pizza.jpg');
    background-repeat: no-repeat; 
        background-size: cover;       
            background-position: center;
}